/*general styling*/

html {
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: salmon;
    
}

/* Nav bar*/
#navbar{
    background-color: lightseagreen;

}
#navbar-brand{
    height= 500 px;
    color: purple;

}
#navbar-right-custom{
    padding:35%;
    font-family: Arial, Helvetica, sans-serif;
}








h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:teal;
    margin-top: 35px;
    margin-left: 25px;
    text-align: left;
    }

button{
    color:teal;
    
}